.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
}

.slide-in {
  opacity: 0;
  transform: translateX(-100%);
}

.topd {
  animation: slideInTop 1s ease-in-out forwards;
  font-size: 100pt;
  font-weight: bold;
  font-family: Helvetica;
}

.desc {
  animation: slideInDesc 1s ease-in-out forwards;
  animation-delay: 0s;
  max-height: 500pt;
  max-width: 700pt;
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInDesc {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.version-note {
  text-align: center;
}
