body {
  font-family: Helvetica, Sans-Serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header-container {
  width: 100%;
  background-color: white;
  padding: 50px 0;
}

.header {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.workheader {
  font-size: 40px;
  font-weight: bold;
}

.thales-logo {
  height: 30px;
  width: 250px;
}

.rbc-logo {
  height: 100px;
  width: 75px;
}

.ms-logo {
  height: 100px;
  width: 100px;
}

.cmic-logo {
  height: 150px;
  width: 150px;
}

.outer-container {
  padding: 0 150px;
}

.work_container {
  display: flex;
  background-color: white;
  margin-bottom: 40px;
  padding: 20px;
  align-items: center;
}

.left-column {
  flex: 0.5;
  padding: 20px;
  text-align: center;
}

.right-column {
  flex: 1;
  padding: 20px;
}

.left-row {
  padding: 20px;
}

.right-row {
  padding: 20px;
  background-color: #f5f5f5;
}

.right-row:nth-child(2) {
  background-color: #e0e0e0;
}

.rbc_description {
  margin-bottom: 10px;
}

a {
  color: #0073e6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
