body,
html {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}
.greet {
  text-align: center;
  max-width: 50%;
  padding-left: 24%;
  padding-bottom: 20px;
  color: #27374d;
  width: 100%; /* Ensure it takes full width of its container */
}
.greeting {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  padding-left: 5%;
  margin: 0;
}
.name {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  padding-left: 5%;
  margin: 0;
}
.icons {
  font-size: 50px;
}
.passion {
  padding-left: 5%;
  max-width: 100%;
  text-align: center;
}

.work {
  text-align: center;
  width: 50%;
  margin-left: 15%;
}

/* Optional: When the logo text is active (visible) */
.logo-container.active .logo-text {
  display: block;
}
.experience {
  font-family: 'Playfair Display', serif;
  font-size: 220%;
  padding-left: 5%;
  text-align: center;
}
.center {
  text-align: center;
}

.logos.expanded-logo {
  text-align: left;
  background-color: black;
}

.logo-container.expanded .logo-text {
  display: block;
  background-color: black; /* Light gray background */
  font-family: Arial, sans-serif; /* Set a clean font */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding around the content */
}

.expanded-logo {
  display: block;
  background-color: black; /* Light gray background */
  font-family: Arial, sans-serif; /* Set a clean font */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding around the content */
}

.toy {
  background-color: #9db2bf;
  text-align: center;
  vertical-align: top;
  margin-top: 100px;
  margin: 0px;
  display: flex;
}

.cattoy {
  width: 15%;
  height: auto;
  right: 15%;
}

.preview {
  width: 20%;
  height: auto;
  right: 25%;
}

.screen {
  width: 20%;
  height: auto;
  right: 25%;
}

.employment {
  padding-top: 50px;
  background-color: #dde6ed;
  color: #27374d;
  text-align: center;
  align-items: center;
  gap: 10px;
  display: flex;
  padding-left: 10%;
  justify-content: center;
  margin: 0px;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two equal-width columns */
  gap: 10px; /* Space between divs */
  padding-left: 5%;
  padding-right: 5%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.job-block {
  padding-left: 30px;
  display: inline-block;
}

.job-description {
  padding-left: 20%;
  padding-right: 20%;
}

.direct {
  text-align: center;
}

.homepage {
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
